div.current_weather_container{
    font-size: 1.5rem;
    div.top{
        width: 100%;
        height: 20rem;
        div.weather_header{
            font-weight: 600;
        }
        div.img{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            img.weather_icon{
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                background-repeat: no-repeat;
                margin-left: 15rem;
            }
        }
    }
    div.bottom{
        width: 100%;
        height: 25rem;
        p.temprature{
            font-size: 6rem;
            font-weight: 800;
            color: #d66c05;
            margin-bottom: 3rem;
        }
        span.title{
            font-size: 1rem;
            font-weight: 800;
        }
        div.parameter_row{
            display: flex;
            justify-content: space-between;
            span.parameter_value{
                font-weight: 800;
            }
        }
    }
}